.blog-img{
    width: 100%;
    height: 300px;
    object-fit: cover;

}

.blog-articulos{
    background-color: #cacccf;
}

.section-title{
    background-color: #cacccf;
}


.lead{
    font-size: 2rem;
}

.about-info img {
    width: 400px;
    height: 400px;
}

.preview-img img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.card-img{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.contact{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


