.navbar{
    max-height: 100px;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
 

}
.navbar ul{
    font-weight: bold;
  
}

.navbar-nav{
    flex-grow: 1;
    justify-content: center;
}
.navbar-brand{
    margin-right: auto;
}

.form-control{
    width: 100%;
}




@media (max-width: 768px) {
    .navbar-nav {
      flex-direction: column;
      align-items: center;
    }
    .navbar{
        max-height: 100px;
    }
.logo-icon{
    width: 150px;
}
 }

 @media (max-width: 500px) {
    .logo-icon{
        width: 100px;
 } }