.team-info {
  display: flex;
  align-items: center;
}
.team-info p {
  font-size: 20px;
}

.team-img img {
  object-fit: cover;
  border-radius: 30%;
}
.img-box {
  width: 370px;
  height: 500px;

  object-fit: cover;
  border-radius: 40px;
  transition: transform 0.5s;
  &:hover {
    transform: scale(1.06);
  }
  padding: 20px;
}

.container_flex:has(.img-box:hover) .img-box:not(:hover) {
  filter: grayscale(100%) brightness(50%);
}

@media (max-width: 800px) {
  .info-text {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .info-text {
    font-size: 15px;
  }
}
